@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary-color: #442445;
}

body {
  font-family: 'Product Sans', sans-serif;
  color: var(--primary-color);
}

h1, h2, h3 ,td{
  font-family: 'Product Sans', sans-serif; 
  color: var(--primary-color);
}
